@import "../../sass/utils.scss";

.form{
    padding: 3rem;
    border-radius: 1.5rem;
    border: solid 1.5px #c5c5c5;
    justify-self: center;

    &__post{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        @include media-queries(map-get($breakpoints, bp-600)){
            border: 0;
            padding: 2rem 1rem;
        }
    }

    &__account{
        background-color: #fff;
    }

    &__logout{
        grid-column: full-start / full-end;
        min-width:  30rem;
    }
}