.header{
    grid-column: full-start/full-end;
    display: flex;
    justify-content: center;
    width: 100%;

 

    &--bg-white{
        background-color: #fff;
    }

    &__logo-box{
        // width: 30rem;
        padding: 2rem 0;
    }

    &__logo{
        width: 25rem;
    }
}