.formPost{
    &__add-file{
        display: inline-block;
        align-self: stretch;
        padding: 1rem;
        background-color: lightcoral;
        color: #fff;
        margin: 0 1rem;
    }
}
