@import "../../sass/utils.scss";
 
.page{
    &__button{
        grid-column: col-start 2/col-end 6;

        @include media-queries(map-get($breakpoints, bp-800)){
            grid-column: col-start 1/col-end 3;
            grid-row: 2/3;
        }
        @include media-queries(map-get($breakpoints, bp-600)){
            grid-column: center-start /center-end ;
            grid-row: 3/4;
        }
    }
}