@import "../../sass/utils.scss";

.post{
    &__header{
        display: flex;
        justify-content: space-between;
    }
    &__text-box{
        border-radius: 1.5rem;
        padding: 3rem;
        height: auto;  

        @include media-queries(map-get($breakpoints, bp-600)){
            padding: 3rem 0;
        }
    }

    &__text{
        text-align: justify;

        &--overflow{
            display: -webkit-box;
            display: -moz-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            & ~ .post__learn-more{
                display: inline-block;
            }
        }
    }

    &__img-box{
        height: 35rem;
        @include media-queries(map-get($breakpoints, bp-600)){
            height: auto;
        }
    }

    &__img{
        border-radius: 1.5rem;
        width: 100%;
        height: 100%;
        object-fit: cover;

        &--gif{
            object-fit: fill;

        @include media-queries(map-get($breakpoints, bp-600)){
            height: 20rem;
        }
        }
    }

    &__stat-post{
        display: flex;
        justify-content: flex-end;
        padding: 2rem 0 1rem 0;

        & p:not(:last-child){
            margin: 0 2rem;
        }
    }

    &__action{
        border-top: 1px solid #F2F2F2;
        border-bottom: 1px solid #F2F2F2;
        display: flex;
    }

    &__learn-more{
        display: inline-block;
        margin: 1rem 0 0 auto;
        font-weight: 600;
        font-size: 1.5rem;
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &__comments{
        max-height: 40rem;
        transition: max-height .5s;
        padding-left: 10rem;

        @include media-queries(map-get($breakpoints, bp-600)){
            padding-left: 5rem;
        }

        &::-webkit-scrollbar-track{
            border-radius: 10px;
        }

        &::-webkit-scrollbar{
            width: 6px;
        }

        &::-webkit-scrollbar-thumb{
            border-radius: 10px;
            background-color: rgb(128, 125, 125);
        }

        &--hidden{
            max-height: 0;
            overflow: hidden;
        }
    }

    &__stat-comment{
        display: inline-block;
        margin: 0 2rem;
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
}