.post{
    &__text{

    }
    
    &__img-box{
        padding: 3rem 0;
    }

    &__img{
        border-radius: 1.5rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__stat-post{
        display: flex;
        justify-content: flex-end;
        padding-bottom: 1rem;

        & p:not(:last-child){
            margin: 0 2rem;
        }
    }

    &__action{
        padding: 1rem 0;
        border-top: 1px solid #F2F2F2;
    }
}
img{
    width: 100%;
}