.form__input{
    height: 3.5rem;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.5rem;
    padding-left: 1rem;
    border-radius: 1rem;
    border: solid 1.5px #c5c5c5;
    align-self: stretch;
}