@import "../../sass/utils.scss";
.account{
    grid-column: col-start 2/ col-end 5;
    @include media-queries(map-get($breakpoints, bp-800)){
       grid-column: col-start 1/ col-end 6;
       grid-row: 3;
       padding: 0 2rem;
       width: 100%;
    }

    @include media-queries(map-get($breakpoints, bp-600)){
       grid-column: full-start/ full-end;
       grid-row: 3;
       padding: 0 2rem;
    }

    &__button-box{
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;

        @include media-queries(map-get($breakpoints, bp-600)){
            flex-direction: column;
            & button{
                margin: 1rem;
            }
        }
    }
}